In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')
import seaborn as sns
import env
import os
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from pydataset import data

from env import host, user, password
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [8]:
telco = pd.read_sql('SELECT * FROM customers INNER JOIN contract_types ON customers.contract_type_id=contract_types.contract_type_id INNER JOIN internet_service_types ON customers.internet_service_type_id=internet_service_types.internet_service_type_id INNER JOIN payment_types ON customers.payment_type_id=payment_types.payment_type_id', get_connection('telco_churn'))
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id,contract_type,internet_service_type_id,internet_service_type,payment_type_id,payment_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,2,59.9,542.4,No,1,Month-to-month,1,DSL,2,Mailed check
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,4,69.4,571.45,No,1,Month-to-month,1,DSL,4,Credit card (automatic)
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,1,48.2,340.35,No,1,Month-to-month,1,DSL,1,Electronic check
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,1,25.1,25.1,Yes,1,Month-to-month,1,DSL,1,Electronic check
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,3,30.5,30.5,Yes,1,Month-to-month,1,DSL,3,Bank transfer (automatic)

In [9]:
telco.to_csv('telco.csv')

In [11]:
def get_telco_data():
    filename = "telco.csv"
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql('SELECT * FROM customers INNER JOIN contract_types ON customers.contract_type_id=contract_types.contract_type_id INNER JOIN internet_service_types ON customers.internet_service_type_id=internet_service_types.internet_service_type_id INNER JOIN payment_types ON customers.payment_type_id=payment_types.payment_type_id', get_connection('telco_churn'))
        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_file(filename)

        # Return the dataframe to the calling code
        return df

In [12]:
df_telco = pd.read_csv('telco.csv', index_col=0)
df_telco.head(3)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id.1,contract_type,internet_service_type_id.1,internet_service_type,payment_type_id.1,payment_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,2,59.9,542.4,No,1,Month-to-month,1,DSL,2,Mailed check
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,4,69.4,571.45,No,1,Month-to-month,1,DSL,4,Credit card (automatic)
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,1,48.2,340.35,No,1,Month-to-month,1,DSL,1,Electronic check

In [13]:
df_telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 7043 non-null   object
 1   gender                      7043 non-null   object
 2   senior_citizen              7043 non-null   int64
 3   partner                     7043 non-null   object
 4   dependents                  7043 non-null   object
 5   tenure                      7043 non-null   int64
 6   phone_service               7043 non-null   object
 7   multiple_lines              7043 non-null   object
 8   internet_service_type_id    7043 non-null   int64
 9   online_security             7043 non-null   object
 10  online_backup               7043 non-null   object
 11  device_protection           7043 non-null   object
 12  tech_support                7043 non-null   object
 13  streaming_tv                7043 non-null   object
 14  streaming_movies            7043 non-null   object
 15  contract_type_id            7043 non-null   int64
 16  paperless_billing           7043 non-null   object
 17  payment_type_id             7043 non-null   int64
 18  monthly_charges             7043 non-null   float64
 19  total_charges               7043 non-null   object
 20  churn                       7043 non-null   object
 21  contract_type_id.1          7043 non-null   int64
 22  contract_type               7043 non-null   object
 23  internet_service_type_id.1  7043 non-null   int64
 24  internet_service_type       7043 non-null   object
 25  payment_type_id.1           7043 non-null   int64
 26  payment_type                7043 non-null   object
dtypes: float64(1), int64(8), object(18)
memory usage: 1.5+ MB

In [14]:
for col in df_telco.columns: 
    print(col)

customer_id
gender
senior_citizen
partner
dependents
tenure
phone_service
multiple_lines
internet_service_type_id
online_security
online_backup
device_protection
tech_support
streaming_tv
streaming_movies
contract_type_id
paperless_billing
payment_type_id
monthly_charges
total_charges
churn
contract_type_id.1
contract_type
internet_service_type_id.1
internet_service_type
payment_type_id.1
payment_type

In [16]:
df_telco.dtypes

customer_id                    object
gender                         object
senior_citizen                  int64
partner                        object
dependents                     object
tenure                          int64
phone_service                  object
multiple_lines                 object
internet_service_type_id        int64
online_security                object
online_backup                  object
device_protection              object
tech_support                   object
streaming_tv                   object
streaming_movies               object
contract_type_id                int64
paperless_billing              object
payment_type_id                 int64
monthly_charges               float64
total_charges                  object
churn                          object
contract_type_id.1              int64
contract_type                  object
internet_service_type_id.1      int64
internet_service_type          object
payment_type_id.1               int64
payment_type                   object
dtype: object